<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.election.androboys.election">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Election"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".candidate"
            android:label="@string/title_activity_candidate">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Election" />
        </activity>
        <activity
            android:name=".candidate_Ex"
            android:label="@string/title_activity_candidate__ex">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Election" />
        </activity>
        <activity
            android:name=".PollingStation"
            android:label="@string/title_activity_polling_station">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Election" />
        </activity>
        <activity
            android:name=".Map"
            android:label="@string/title_activity_map">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Election" />
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Election" />
        </activity>
        <activity
            android:name=".Choose_candi"
            android:label="@string/title_activity_choose_candi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Election" />
        </activity>
        <activity
            android:name=".Ballot"
            android:label="@string/title_activity_ballot">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Election" />
        </activity>
        <activity
            android:name=".signup"
            android:label="SignUp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Election" />
        </activity>
        <activity android:name=".Ballot2"></activity>
    </application>

</manifest>
